## Importing libraries

In [4]:
import pandas as pd
import numpy as np

## Loading data and data exploration

In [15]:
data = pd.read_csv("house.csv")
data.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129,322,125,8.30,452600,Near Bay
1,-122.24,37.89,28,1233,300,500,177,7.25,350000,Near Bay
2,-122.25,37.90,36,1586,471,678,229,8.54,380000,Near Bay
3,-122.26,37.91,42,1939,642,856,281,7.70,452601,Near Bay
4,-122.27,37.92,29,2292,813,1034,333,9.30,350001,Near Bay

In [16]:
data.describe()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,-122.660000,38.310000,49.000000,16059.000000,7482.000000,7976.000000,2361.000000,18.329655,394214.000000
std,0.252587,0.252587,9.990693,8916.307644,4319.231182,4496.041815,1313.450418,6.341251,43322.662592
min,-123.090000,37.880000,28.000000,880.000000,129.000000,322.000000,125.000000,7.250000,350000.000000
25%,-122.875000,38.095000,42.000000,8469.500000,3805.500000,4149.000000,1243.000000,12.975000,350021.500000
50%,-122.660000,38.310000,49.000000,16059.000000,7482.000000,7976.000000,2361.000000,18.300000,380014.000000
75%,-122.445000,38.525000,56.000000,23648.500000,11158.500000,11803.000000,3479.000000,23.620000,452606.500000
max,-122.230000,38.740000,69.000000,31238.000000,14835.000000,15630.000000,4597.000000,29.540000,452628.000000

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   latitude            87 non-null     float64
 1   longitude           87 non-null     float64
 2   housing_median_age  87 non-null     int64
 3   total_rooms         87 non-null     int64
 4   total_bedrooms      87 non-null     int64
 5   population          87 non-null     int64
 6   households          87 non-null     int64
 7   median_income       87 non-null     float64
 8   median_house_value  87 non-null     int64
 9   ocean_proximity     87 non-null     object
dtypes: float64(3), int64(6), object(1)
memory usage: 6.9+ KB

In [18]:
#filling null values
#data = data.fillna()
#data = data.drop(['ocean_proximity'],axis = 1)
data

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129,322,125,8.30,452600,Near Bay
1,-122.24,37.89,28,1233,300,500,177,7.25,350000,Near Bay
2,-122.25,37.90,36,1586,471,678,229,8.54,380000,Near Bay
3,-122.26,37.91,42,1939,642,856,281,7.70,452601,Near Bay
4,-122.27,37.92,29,2292,813,1034,333,9.30,350001,Near Bay
...,...,...,...,...,...,...,...,...,...,...
82,-123.05,38.70,55,29826,14151,14918,4389,28.54,350027,Near Bay
83,-123.06,38.71,63,30179,14322,15096,4441,27.70,380027,Near Bay
84,-123.07,38.72,69,30532,14493,15274,4493,29.30,452628,Near Bay
85,-123.08,38.73,56,30885,14664,15452,4545,28.25,350028,Near Bay
86,-123.09,38.74,64,31238,14835,15630,4597,29.54,380028,Near Bay

## Approach 1 Manual splitting

#### Splitting data into input and output

In [19]:
x = data.drop(['median_house_value'],axis=1)
x.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129,322,125,8.30,Near Bay
1,-122.24,37.89,28,1233,300,500,177,7.25,Near Bay
2,-122.25,37.90,36,1586,471,678,229,8.54,Near Bay
3,-122.26,37.91,42,1939,642,856,281,7.70,Near Bay
4,-122.27,37.92,29,2292,813,1034,333,9.30,Near Bay

In [22]:
x.shape

(87, 9)

In [23]:
y = data['median_house_value']
y

0     452600
1     350000
2     380000
3     452601
4     350001
       ...
82    350027
83    380027
84    452628
85    350028
86    380028
Name: median_house_value, Length: 87, dtype: int64

In [24]:
y.shape

(87,)

##### splitting input n output to training and testing the data

In [28]:
x_train, x_test = x.loc[0:70],x.loc[70:]
y_train, y_test = y.loc[0:70],y.loc[70:]
print(x_train,x_test,y_train,y_test)

    latitude  longitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23      37.88                  41          880             129
1    -122.24      37.89                  28         1233             300
2    -122.25      37.90                  36         1586             471
3    -122.26      37.91                  42         1939             642
4    -122.27      37.92                  29         2292             813
..       ...        ...                 ...          ...             ...
66   -122.89      38.54                  63        24178           11415
67   -122.90      38.55                  50        24531           11586
68   -122.91      38.56                  58        24884           11757
69   -122.92      38.57                  64        25237           11928
70   -122.93      38.58                  51        25590           12099

    population  households  median_income ocean_proximity
0          322         125           8.30        Near Bay
1          500         177           7.25        Near Bay
2          678         229           8.54        Near Bay
3          856         281           7.70        Near Bay
4         1034         333           9.30        Near Bay
..         ...         ...            ...             ...
66       12070        3557          24.54        Near Bay
67       12248        3609          23.70        Near Bay
68       12426        3661          25.30        Near Bay
69       12604        3713          24.25        Near Bay
70       12782        3765          25.54        Near Bay

[71 rows x 9 columns]     latitude  longitude  housing_median_age  total_rooms  total_bedrooms  \
70   -122.93      38.58                  51        25590           12099
71   -122.94      38.59                  59        25943           12270
72   -122.95      38.60                  65        26296           12441
73   -122.96      38.61                  52        26649           12612
74   -122.97      38.62                  60        27002           12783
75   -122.98      38.63                  66        27355           12954
76   -122.99      38.64                  53        27708           13125
77   -123.00      38.65                  61        28061           13296
78   -123.01      38.66                  67        28414           13467
79   -123.02      38.67                  54        28767           13638
80   -123.03      38.68                  62        29120           13809
81   -123.04      38.69                  68        29473           13980
82   -123.05      38.70                  55        29826           14151
83   -123.06      38.71                  63        30179           14322
84   -123.07      38.72                  69        30532           14493
85   -123.08      38.73                  56        30885           14664
86   -123.09      38.74                  64        31238           14835

    population  households  median_income ocean_proximity
70       12782        3765          25.54        Near Bay
71       12960        3817          24.70        Near Bay
72       13138        3869          26.30        Near Bay
73       13316        3921          25.25        Near Bay
74       13494        3973          26.54        Near Bay
75       13672        4025          25.70        Near Bay
76       13850        4077          27.30        Near Bay
77       14028        4129          26.25        Near Bay
78       14206        4181          27.54        Near Bay
79       14384        4233          26.70        Near Bay
80       14562        4285          28.30        Near Bay
81       14740        4337          27.25        Near Bay
82       14918        4389          28.54        Near Bay
83       15096        4441          27.70        Near Bay
84       15274        4493          29.30        Near Bay
85       15452        4545          28.25        Near Bay
86       15630        4597          29.54        Near Bay   0     452600
1     350000
2     380000
3     452601
4     350001
       ...
66    452622
67    350022
68    380022
69    452623
70    350023
Name: median_house_value, Length: 71, dtype: int64 70    350023
71    380023
72    452624
73    350024
74    380024
75    452625
76    350025
77    380025
78    452626
79    350026
80    380026
81    452627
82    350027
83    380027
84    452628
85    350028
86    380028
Name: median_house_value, dtype: int64

In [32]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(71, 9)
(17, 9)
(71,)
(17,)

## Splitting using sklearn

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(69, 9)
(18, 9)
(69,)
(18,)

In [35]:
print(x_train)
print(x_test)
print(y_train)
print(y_test)

    latitude  longitude  housing_median_age  total_rooms  total_bedrooms  \
4    -122.27      37.92                  29         2292             813
16   -122.39      38.04                  33         6528            2865
79   -123.02      38.67                  54        28767           13638
7    -122.30      37.95                  30         3351            1326
28   -122.51      38.16                  37        10764            4917
..       ...        ...                 ...          ...             ...
30   -122.53      38.18                  51        11470            5259
19   -122.42      38.07                  34         7587            3378
15   -122.38      38.03                  46         6175            2694
34   -122.57      38.22                  39        12882            5943
40   -122.63      38.28                  41        15000            6969

    population  households  median_income ocean_proximity
4         1034         333           9.30        Near Bay
16        3170         957          12.30        Near Bay
79       14384        4233          26.70        Near Bay
7         1568         489           8.70        Near Bay
28        5306        1581          15.30        Near Bay
..         ...         ...            ...             ...
30        5662        1685          15.54        Near Bay
19        3704        1113          11.70        Near Bay
15        2992         905          10.70        Near Bay
34        6374        1893          16.54        Near Bay
40        7442        2205          18.30        Near Bay

[69 rows x 9 columns]
    latitude  longitude  housing_median_age  total_rooms  total_bedrooms  \
25   -122.48      38.13                  36         9705            4404
71   -122.94      38.59                  59        25943           12270
77   -123.00      38.65                  61        28061           13296
48   -122.71      38.36                  57        17824            8337
49   -122.72      38.37                  44        18177            8508
65   -122.88      38.53                  57        23825           11244
53   -122.76      38.41                  53        19589            9192
47   -122.70      38.35                  51        17471            8166
76   -122.99      38.64                  53        27708           13125
8    -122.31      37.96                  38         3704            1497
51   -122.74      38.39                  58        18883            8850
20   -122.43      38.08                  42         7940            3549
22   -122.45      38.10                  35         8646            3891
26   -122.49      38.14                  44        10058            4575
27   -122.50      38.15                  50        10411            4746
61   -122.84      38.49                  48        22413           10560
13   -122.36      38.01                  32         5469            2352
56   -122.79      38.44                  54        20648            9705

    population  households  median_income ocean_proximity
25        4772        1425          13.25        Near Bay
71       12960        3817          24.70        Near Bay
77       14028        4129          26.25        Near Bay
48        8866        2621          20.30        Near Bay
49        9044        2673          19.25        Near Bay
65       11892        3505          23.25        Near Bay
53        9756        2881          20.25        Near Bay
47        8688        2569          18.70        Near Bay
76       13850        4077          27.30        Near Bay
8         1746         541          10.30        Near Bay
51        9400        2777          19.70        Near Bay
20        3882        1165          13.30        Near Bay
22        4238        1269          13.54        Near Bay
26        4950        1477          14.54        Near Bay
27        5128        1529          13.70        Near Bay
61       11180        3297          22.25        Near Bay
13        2636         801          10.25        Near Bay
56       10290        3037          22.30        Near Bay
4     350001
16    350005
79    350026
7     350002
28    350009
       ...
30    452610
19    350006
15    452605
34    350011
40    350013
Name: median_house_value, Length: 69, dtype: int64
25    350008
71    380023
77    380025
48    452616
49    350016
65    380021
53    380017
47    380015
76    350025
8     380002
51    452617
20    380006
22    350007
26    380008
27    452609
61    350020
13    350004
56    380018
Name: median_house_value, dtype: int64